<Ui xsi:schemaLocation="http://www.blizzard.com/wow/ui/
..\FrameXML\UI.xsd">
  <Script file="MainPanel.lua" />
  <Script file="BrowsePanel.lua" />
  <Script file="ManagerPanel.lua" />
  <Script file="CreatePanel.lua" />
  <Script file="ApplicantPanel.lua" />
  <Script file="ExchangePanel.lua" />
  <Script file="MallPanel.lua" />
  <Script file="RewardPanel.lua" />
  <Script file="ActivitiesParent.lua" />
  <Script file="ActivitiesSummary.lua" />
  <Script file="ActivitiesMall.lua" />
  <Script file="ActivitiesLottery.lua" />
  <Script file="AppParent.lua" />
  <Script file="AppFollowQueryPanel.lua" />
  <Script file="AppFollowPanel.lua" />
  <Script file="RecentPanel.lua" />
  <Script file="OptionPanel.lua" />
  <Script file="PlayerInfoDialog.lua" />
  <Script file="AppQrDialog.lua" />
  <Script file="DataBroker.lua" />
</Ui>
