<Ui>
	
	<Frame parentKey="Counter" name="$parentCounter" inherits="TellMeWhen_EventContainer">
		<Layers>
			<Layer level="OVERLAY">
				<FontString parentKey="Header" inherits="GameFontNormalLarge" justifyH="LEFT" text="">
					<Anchors>
						<Anchor point="BOTTOM" relativePoint="TOP" y="1"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>

		<Frames>
			
			<EditBox parentKey="Counter" inherits="TellMeWhen_InputBoxTemplate" autoFocus="false">
				<Size x="130" y="15"/>

  				<Anchors>
					<Anchor point="TOPLEFT" x="10" y="-22"/>
				</Anchors>

				<Layers>
					<Layer level="OVERLAY">
						<FontString parentKey="Title" inherits="GameFontNormalSmall" justifyH="CENTER">
							<Anchors>
								<Anchor point="BOTTOMLEFT" relativePoint="TOPLEFT" y="2"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>

				<Scripts>
					<OnLoad>
						self.Title:SetText(TMW.L["EVENTS_SETTINGS_COUNTER_NAME"])

						TMW:CInit(self)

						self:SetTexts(TMW.L["EVENTS_SETTINGS_COUNTER_NAME"], TMW.L["EVENTS_SETTINGS_COUNTER_NAME_DESC"])
						self:SetSetting("Counter")
						
						self:CScriptAdd("ModifyValueForSave", function(self, value)
							local Counter = TMW.EVENTS:GetEventHandler("Counter")
							return Counter:SanitizeCounterName(value)
						end)

						TMW.SUG:EnableEditBox(self, "counterName", true)

					</OnLoad>
				</Scripts>
			</EditBox>
			<Frame parentKey="Operation" inherits="TMW_DropDownMenuTemplate">
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.Counter" relativePoint="RIGHT" x="6" y="0"/>
				</Anchors>

				<Layers>
					<Layer level="OVERLAY">
						<FontString parentKey="Title" inherits="GameFontNormalSmall" justifyH="CENTER">
							<Anchors>
								<Anchor point="BOTTOMLEFT" relativePoint="TOPLEFT" x="20" y="0"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>

				<Scripts>
					<OnLoad>
						TMW:CInit(self)
						
						self.Title:SetText(TMW.L["EVENTS_SETTINGS_COUNTER_OP"])
						
						self:SetTexts(TMW.L["EVENTS_SETTINGS_COUNTER_OP"], TMW.L["EVENTS_SETTINGS_COUNTER_OP_DESC"])
						self:SetFunction(TMW.EVENTS:GetEventHandler("Counter").OperationMenu_DropDown)

						self:SetWidth(96)
					</OnLoad>
				</Scripts>
			</Frame>

			<EditBox parentKey="Amt" inherits="TellMeWhen_InputBoxTemplate" autoFocus="false">
				<Size x="55" y="15"/>

				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.Operation" relativePoint="RIGHT" x="8" y="0"/>
				</Anchors>

				<Layers>
					<Layer level="OVERLAY">
						<FontString parentKey="Title" inherits="GameFontNormalSmall" justifyH="CENTER">
							<Anchors>
								<Anchor point="BOTTOMLEFT" relativePoint="TOPLEFT" y="2"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				
				<Scripts>
					<OnLoad>
						self.Title:SetText(TMW.L["EVENTS_SETTINGS_COUNTER_AMOUNT"])

						TMW:CInit(self)

						self:SetTexts(TMW.L["EVENTS_SETTINGS_COUNTER_AMOUNT"], TMW.L["EVENTS_SETTINGS_COUNTER_AMOUNT_DESC"])
						self:SetSetting("CounterAmt")

						self:CScriptAdd("ModifyValueForSave", function(self, value)
							local Counter = TMW.EVENTS:GetEventHandler("Counter")
							return tonumber(self:GetText():trim()) or 0
						end)
					</OnLoad>
				</Scripts>
			</EditBox>
		</Frames>

	</Frame>
	
</Ui>