<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/ ..\FrameXML\UI.xsd">
  <Script file="common.lua"/>
  <Script file="zones\ardenweald.lua"/>
  <Script file="zones\bastion.lua"/>
  <Script file="zones\korthia.lua"/>
  <Script file="zones\maldraxxus.lua"/>
  <Script file="zones\revendreth.lua"/>
  <Script file="zones\the_maw.lua"/>
  <Script file="zones\torghast.lua"/>
  <Script file="zones\zereth_mortis.lua"/>
  <Script file="zones\prepatch.lua"/>
</Ui>
