<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/ ..\FrameXML\UI.xsd">
  <Script file="common.lua"/>
  <Script file="zones\uldum.lua"/>
  <Script file="zones\vale.lua"/>
  <Script file="zones\visions.lua"/>
  <Script file="zones\voldun.lua"/>
</Ui>